//- colors
$black: #1d2b24;
$sunshine: #f3d34b;
$forest: #015249;
$mint: #7aa694;

$dark-grey: #333;
$grey: #808080;
$light-grey: #d8d8d8;
$white: #fff;

$code-background: rgba($sunshine, .5);
$hover-opacity: rgba($black, .2);
$hover-white: rgba($white, .5);
$shadow: rgba($black, .5);
$selection: rgba($mint, .5);

//- fonts
$font-body: 'Inconsolata', 'Courier New', monospace;
$font-accent: 'Poppins', 'Helvetica Neue', Helvetica, sans-serif;

//- font sizes
$font-size-x-small: 12px;
$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-large: 24px;
$font-size-x-large: 32px;
$font-size-xx-large: 48px;
$font-size-3x-large: 64px;
$font-size-4x-large: 96px;

$font-icon-size-regular: 18px;
