//- import
@import 'variables';

.blog {
  .back-blog-home {
    ul {
      padding-left: 0;
    }

    li a {
      font-size: $font-size-x-small;
    }
  }

  .blog-title {
    border-bottom: 1rem solid $mint !important;
    margin-bottom: 0;
    padding-bottom: 1rem;
    text-align: center;
  }

  .meta {
    date,
    author,
    .bullet {
      color: $grey;
      float: right;
      text-transform: uppercase;
    }

    .tag {
      margin-left: .5rem;
    }

  }

  .author-date {
    margin: 1rem 0 5rem;
  }

  .tags {
    float: right;
  }

  .post-body {
    margin-bottom: 10rem;
    top: 2rem;

    img {
      margin: .5rem auto;
    }

    h3 {
      border-top: 1rem solid $light-grey;
      margin-top: 4rem;
      padding-top: .5rem;
    }

    h4,
    h5 {
      border-left: .5rem solid $sunshine;
      color: $dark-grey;
      padding-left: .5rem;
      margin-top: 4rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      + p {
        margin-top: 0 !important;
      }
    }

    p {
      margin-top: 3rem;
    }

    .short-summary {
      display: none;
    }
  }

  .blog-body {
    font-size: $font-size-regular;
    margin: 0;
  }

  strong {
    font-weight: 700;
  }

  .content {
    bottom: 5rem;
    position: fixed;
  }


  .blog-post-nav {
    font-family: $font-accent;
    margin-top: 1rem;
    padding-left: 0;
    text-align: center;

    > li {
      display: inline-block;
      list-style: none;
    }
  }

  .post-prev-post {
    margin: 5rem 0 0;

    p {
      margin: 0;
    }

    li.rtl-transition {
      width: inherit;
    }
  }

  @media only screen and (max-width: 425px) {
    .post-body {
      margin-bottom: 2rem !important;
    }
  }

  @media only screen and (max-width: 768px) {
    .back-blog-home {
      li.rtl-transition {
        margin-top: 3rem;
      }
    }

    .post-body {
      margin-bottom: 12rem;
    }
  }

  @media only screen and (min-width: 768px) {
    p {
      text-align: justify;
    }
  }
}
