$yellow: #FFF712;
$light-grey: #FAFAFA;
$yellow: #FFF712;
$grey: #AAA;
$dark-grey: #36383E;
$blue: #00BCD4;
$dark-blue: #00536E;
$opacity-blue: #DAF5F9;
$white: #FFF;
$black: #000;


body {

  font-family: 'NotCourierSansRegular';

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'NotCourierSansBold';
    text-transform: uppercase;
  }

  h1 {
    font-size: 4.5em;
    margin: 0;
  }

  p {
    margin-bottom: 0;
    font-size: 1.2em;
  }

  ::selection {
    background-color: $yellow;
  }

  .bio span {
    font-size: 1.3em;
    color: $dark-blue;
  }

  .latest-posts span {
    font-family: 'NotCourierSansBold';
    font-size: 1.8rem;
    color: $dark-grey;
  }

  .nav-links li {
    font-size: 1.2em;
  }

  .label-default {
    font-family: 'NotCourierSansRegular' !important;
    font-size: 1em !important;
    color: $blue !important;
  }
}
