$yellow: #FFF712;
$light-grey: #FAFAFA;
$yellow: #FFF712;
$grey: #AAA;
$dark-grey: #36383E;
$blue: #00BCD4;
$dark-blue: #00536E;
$opacity-blue: #DAF5F9;
$white: #FFF;
$black: #000;


body {

  font-family: 'NotCourierSansRegular', monospace;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'NotCourierSansBold', monospace;
    text-transform: uppercase;
  }

  h1 {
    font-size: 3.5em;
  }

  p {
    font-size: 1.2em;
    // margin: 1.5em auto 2.5em;
  }

  ::selection {
    background-color: $yellow;
  }


  .latest-posts span {
    font-family: 'NotCourierSansBold', monospace;
    font-size: 1.8rem;
    color: $dark-grey;
  }

  .nav-links li {
    font-size: 1.2em;
  }

  .label-default {
    font-family: 'NotCourierSansRegular', monospace !important;
    font-size: 1em !important;
    color: $blue !important;
  }

  .center {
    text-align: center;
  }

  .tags {
    float: right;
    font-family: 'NotCourierSansRegular', monospace;

    a {
      background-color: $yellow;
      color: $black;
      font-size: 1.4rem;
      padding: 0 .5rem;
      text-transform: uppercase;
    }
  }
}
