$light-grey: #fafafa;
$yellow: #fff712;
$grey: #aaa;
$dark-grey: #36383e;
$blue: #00bcd4;
$dark-blue: #00536e;
$opacity-blue: #daf5f9;
$white: #fff;
$black: #000;
$opacity-hover: rgba(0, 0, 0, .2);

body {
  font-family: 'NotCourierSansRegular', monospace;
  font-size: 1.5rem;
}

div {
  display: block;
}

hr {
  background-color: $opacity-blue;
  height: .4rem;
  margin: 1rem auto;
}

#leftbot {
  p {
    margin: 0;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;

  .col-sm-3 {
    text-align: center;
  }
}

.brand-img {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}

.navbar-brand {
  padding: .5rem;
}

.navbar.navbar-default.navbar-fixed-bottom {

  .navbar-fixed-bottom-mast {
    background-color: transparent !important;
  }

  .navbar-fixed-bottom-blog {
    background-color: $white !important;
  }
}

a,
.navbar-default .navbar-nav > li > a {
  color: $blue;
  transition: all .5s ease-in-out;

  &:hover,
  &:focus {
    color: $dark-blue;
    transition: all .5s ease-in-out;
    text-decoration: none;
  }
}

.btn-circle {
  background-color: $yellow;
  border-radius: 100%;
  color: $dark-grey;
  float: right;
  height: 4rem;
  margin: 3rem;
  opacity: .5;
  width: 4rem;

  i {
    padding-top: .5rem;
  }

  &:hover {
    opacity: 1;
  }
}

.box {
  background-color: $light-grey;
  height: auto;
  margin: 1rem .5rem;
  padding: 1rem 1rem .5rem;

  h2 {
    margin-top: 0;
  }

  a {
    font-size: 2rem;
    text-transform: capitalize;
  }

  .title {
    font-size: 2rem;
  }

  author,
  .category,
  .date {
    color: $dark-grey;
    font-family: 'NotCourierSansRegular', monospace;
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  .category {
    color: $dark-blue;
  }

  .snippet {
    font-family: 'NotCourierSansRegular', monospace;
    font-size: 1.4rem;
    margin: 0;

    * {
      margin: 0;
    }
  }

  .tags {
    float: right;
    font-family: 'NotCourierSansRegular', monospace;

    a {
      background-color: $yellow;
      color: $black;
      font-size: 1.4rem;
      padding: 0 .5rem;
      text-transform: uppercase;
    }
  }

  .bullet {
    font-size: 1.5rem;
  }

  &:hover {
    box-shadow: 0 .3rem .5rem $opacity-hover;
    transform: translate(0, -.3rem);
  }
}

.navbar {
  background-color: transparent;
  border: 0;
  margin-left: auto;
  width: inherit;
}

.container {
  margin: 8rem auto 5rem;
  padding: 0;
}

.bio {
  text-align: center;

  span {
    color: $dark-blue;
    font-size: 1.3rem;
  }

  p {
    font-size: 1.3rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
  }
}

.label-default {
  background-color: $opacity-blue;
  color: $blue;
  text-transform: uppercase;
}

.clear {
  clear: both;
}

@media only screen and (max-width: 320px) {
  .col-xs-8 {
    padding-right: 0;
  }

  .blog-post-nav {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 425px) {
  h3 {
    margin: 0;
  }

  .bio {
    text-align: center;
  }

  .container {
    margin-top: 3rem;
  }

  .btn-circle {
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  #mastleft {
    background: no-repeat 15% 50% url("/blog/img/mollybear2.png");
    background-size: cover;
    border-radius: 10%;
    height: 50%;
    left: 0;
    position: fixed !important;
    top: 0;
    width: 25% !important;
    z-index: 1000;
  }

  #leftbot {
    bottom: 0;
    height: 50%;
    left: 0;
    overflow-y: hidden;
    position: fixed !important;
    width: 25% !important;
    z-index: 1000;
  }

  .navbar-brand {
    display: none;
  }

  .bio {
    h3 {
      margin: 1rem .5rem .2rem;
    }
  }

  .container {
    overflow-y: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
  }

  hr {
    width: 60%;
  }

  .latest-posts {
    > span:nth-child(1) {
      margin-right: 48.5rem;
    }
  }

  .preview {
    list-style: none;
    margin: 5rem 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 4.5rem;

      &:nth-child(2) {
        margin-right: 0;
      }
    }

  }
}

@media only screen and (min-width: 1024px) {
  .col-sm-3 {
    width: 35%;
  }

  .col-sm-6 {
    width: 30%;
  }
}

@media only screen and (min-width: 1440px) {
  hr {
    width: 62%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-6 {
    width: 50%;
  }
}
