//---- IMPORT ----//
@import 'variables';

//---- BODY ----//
div {
  display: block;
}

hr {
  background-color: $grey;
  height: .1rem;
  margin: 1rem 0;
}

.clear {
  clear: both;
}

.container {
  margin: 8rem auto 5rem;
  padding: 0;
}

img {
  max-width: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;

  div.blog-posts {
    margin-bottom: 10rem;
    padding: 0;
  }
}

.blog-blurb {
  margin: 2rem 0 10rem;

  p {
    float: right;
    font-style: italic;
  }
}

.btn-circle,
.nav-footer {
  z-index: 99;
}

//---- LINKS ----//
.nav-tags a {
  background-color: $light-grey;
  color: $black;
  display: block;
  margin-right: 2rem;
  margin-top: 2rem;
  padding: .1rem 0;
  text-transform: lowercase;

  &:hover {
    background-color: $yellow;
    color: $black;
  }
}

.nav-footer a {
  color: $white;
  display: block;
  margin-right: 2rem;

  &:hover {
    color: $hover-white;
  }
}

//---- NAVIGATION ----//
.nav-brand {
  position: static;
  margin-top: 1.2rem;

  img {
    height: 3rem;
    width: 3rem;
  }
}

.nav-tags {
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      text-align: center;

    }
  }
}

.nav-footer {
  background-color: $black;
  height: inherit;
  margin: 0;
  text-align: center;
  width: 100%;

  ul {
    display: table;
    margin: 1.5rem auto;

    li {
      display: table-cell;
    }
  }

}

.mobile-nav-panel {
  display: none;
  float: right;
  margin-right: 1rem;
  margin-top: 2rem;
}

.navbar.navbar-default {
  background-color: $black;
  border: 0;
  font-family: $font-accent;
  margin-left: auto;
  width: inherit;
}

.nav-tag-links {
  padding: 0 1rem 0 0;
}

.navbar-brand {
  padding: 10px 15px;

  img {
    height: 3rem;
    width: 3rem;
  }
}

//---- SEARCH BUTTON ----//
.search {
  bottom: 5rem;
  position: fixed;
  right: 0;
}

.btn-circle {
  background-color: $yellow;
  border-radius: 100%;
  color: $grey;
  float: right;
  height: 4rem;
  margin: 1.5rem;
  opacity: .8;
  width: 4rem;

  i {
    padding-top: .5rem;
  }

  &:hover {
    opacity: 1;
  }
}

//---- POST PREVIEW BLOCKS ----//
.posts-box {
  height: auto;
  margin: 0;
  padding: 0;

  .title {
    color: $black;
    font-size: 2rem;
    margin: 10px 0 5px;
    text-transform: uppercase;

    &:hover {
      color: $hover-blue;
    }
  }

  .date {
    color: $grey;
    font-family: $font-accent;
    font-size: $font-size-small;
    text-transform: uppercase;
  }

  .snippet {
    color: $dark-grey;
    font-family: $font-body;
    font-size: $font-size-regular;
    margin: 0;
  }

  .post-tags a {
    font-size: $font-size-x-small;
    margin: 0 0 0 .5rem;
  }

  .bullet {
    font-size: $font-size-regular;
  }
}

//---- MEDIA SCREENS ----//
@media only screen and (min-width: 320px) {
  .blog-blurb p {
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  h3 {
    margin: 0;
  }

  .container {
    margin-top: 3rem;
  }

  .search {
    bottom: 0;
    position: relative;

    .btn-circle {
      margin-right: 1rem;
    }
  }

  .mobile-nav-panel {
    display: block;
  }

  .nav-tags {
    height: 0;
    overflow: hidden;
    margin: 0;

    li a {
      background-color: transparent;
    }
  }

  .nav-tags.active {
    height: auto;
    overflow: visible;
    margin-bottom: 1rem;

    ul {
      border-bottom: 1px solid $light-grey;
      border-top: 1px solid $light-grey;
      margin-top: 2rem;

      li {
        text-align: right;

        a {
          margin-right: 1rem;
        }

        &:nth-last-child(1) {
          a {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }

  .nav-brand {
    display: inline-block;
  }

  .row {
    div.blog-posts {
      margin-bottom: 0;
    }
  }

  .blog-blurb {
    margin: 2rem 0 6rem;

    p {
      font-size: 100%;
      margin: 0 0 3rem;
    }
  }

  .nav-footer {
    ul {
      display: block;

      li {
        display: inherit;
        padding-top: .5rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .nav-tags {
    ul {
      display: table;

      li {
        display: table-cell;
        width: 1%;

        &:nth-last-child(1) {
          a {
            margin-right: 0;
          }
        }
      }
    }
  }

  .nav-brand {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
  .blog-blurb p {
    text-align: right;
  }
}
