//---- IMPORT ----//
@import 'variables';

//- body
li {
  list-style: none;
}

.center {
  text-align: center;
}

.list-inline > li {
  padding: 0;
}

.posts-per-tag {
  padding-left: 2rem;
}

.tag-title {
  margin: 5rem 0 1.5rem;
  padding-left: 1rem;
}

.title {
  text-transform: capitalize;
  font-size: 1.25em;
}
