li {
  list-style: none;
}

.center {
  text-align: center;
}

.list-inline > li {
  padding: 0;
}

.tag-title {
  margin-bottom: 0.2rem;
}

.title {
  text-transform: capitalize;
  font-size: 1.25em;
}
