{% extends 'layout.html' %}

{% block title %}JL{% endblock %}

{% block body %}
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <span class="bio span"><center>WELCOME TO MY MIND.<br /><s>NOTHING CRAZY HERE.</s></center></span>
    <hr>
  </div>
  <div class="latest-posts col-xs-12 col-md-8 col-md-offset-2">
    <div class="col-sm-6"></div>
    <div class="row">
      <div style="margin-top:1rem;" class="col-xs-12">
        {% for post in site.posts %}
          <div class="box">
            <!-- <author>{{ post.author }}</author> -->
            {% if post.date %}
              <date class="date">{{ post.date }}</date>
              <span class="bullet">·</span>
            {% endif %}
            <span class="category">{{ post.category }}</span>
            <h2 class="title"><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
            <!-- <span class="snippet">{{ post.summary | safe }}</span> -->
            <!-- <span class="tags">{{ post.tags }}</span> -->
            <!-- <br class="clear" /> -->
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
