{% extends 'layout.html' %}

{% block body %}
<div class="blog-blurb">
  <p>An assortment of writings of things learnt, useful resources, and personal ramblings.</p>
</div>
{% for post in site.posts %}
  <div class="posts-box">
    {% if post.date %}
      <date class="date">{{ post.date }}</date>
    {% endif %}
    <div>
      <a href="{{ post.permalink }}"><h2 class="title">{{ post.title }}</h2></a>
      <span class="snippet">{{ post.summary | safe }}</span>
    </div>
    <br />
    <div class="post-tags">
      {% for tag in post.tags %}
      <a href="tags.html?tag={{tag}}">#{{ tag }}</a>
      {% endfor %}
    </div>
    <br class="clear" /> 
  </div>
  <hr>
  <br />
{% endfor %}
{% endblock %}
