{% extends 'layout.html' %}

{% block title %}Tags{% endblock %}

{% block body %}
<div class="blog-blurb">
  <p id="tag-for-page"></p>
</div>

{% for tag in site.tagNames.sort() %}
  <ul id="{{tag}}" class="list-inline">
    <a href="tags.html?tag={{tag}}"><h2 class="tag-title">{{ tag }}</h2></a>
      {% for post in site.tags[tag] %}
        <div class="posts-box posts-per-tag">
          {% if post.date %}
            <date class="date">{{ post.date }}</date>
          {% endif %}
          <div>
            <a href="{{ post.permalink }}"><h2 class="title">{{ post.title }}</h2></a>
            <span class="snippet">{{ post.summary | safe }}</span>
          </div>
          <br />
          <div class="post-tags">
            {% for tag in post.tags %}
              <a href="tags.html?tag={{tag}}">#{{ tag }}</a>
            {% endfor %}
          </div>
          <br class="clear" /> 
          <hr>
        </div>
      {% endfor %}
  </ul>
{% endfor %}
<br class="clear" />
{% endblock %}
